*
{
	font-family: 'Open Sans', sans-serif;
}

h1
{
	font-size: 50px;
}


.tamanho
{
	width: 100%;
	height: 100vh;
}

.back
{
	display:flex;
}

.log
{
	background-color: white;
	position: absolute;
	right:0; 
	width: 38%;
	height: 100vh;
}

.titulo
{
	margin-left: 13%;
	margin-bottom: 10%;
	margin-top: 12%;
}

#nome
{
	padding: 3%;
	width: 100%;
	border-radius: 4px;
	border:solid 1px #a0a0a0;
}

#email
{
	padding: 3%;
	width: 100%;
	border-radius: 4px;
	border:solid 1px #a0a0a0;
}

#senha
{
	padding: 3%;
	width: 100%;
	border-radius: 4px;
	border:solid 1px #a0a0a0;
}

#senhaconfimada
{
	padding: 3%;
	width: 100%;
	border-radius: 4px;
	border:solid 1px #a0a0a0;
}

.pad
{
	margin-left: 10%;
	margin-right: 10%;
}

.pad1
{
	margin-left: 10%;
	margin-right: 10%;
	margin-top:6%;
	margin-bottom: 5%;
}

.button
{
	padding :3%;
	border-radius: 5px;	
	border:solid 2px #39cc6c;
	background-color: #39cc6c;
}

.button:hover
{
	padding :3%;
	border:solid 2px green;
	border-radius: 5px;	
	background-color: black;
	cursor: pointer;

}

.button span
{
	padding-left:39%;
	color : white;
}

.linha 
{	
	margin-top:8.8%;
	border-top: solid 2px #a0a0a0;
	margin-left: 12%;
	margin-right: 12%;
}

.buttonc
{
	padding :3%;
	border-radius: 5px;	
	background-color: white;
	border:solid 1px #39cc6c;
}

.buttonc:hover
{
	padding :3%;
	border:solid 2px green;
	border-radius: 5px;	
	background-color: black;
	cursor: pointer;
}
#cadastro
{
	padding-left:38%;
	color : #39cc6c;

}
#bold
{
	font-weight: bold;
}
