*
{
	font-family: 'Open Sans', sans-serif;
}

h1
{
	font-size: 50px;
}


.tamanho
{
	width: 100%;
	height: 100vh;
}

.back
{
	display:flex;
}

.log
{
	background-color: white;
	position: absolute;
	right:0; 
	width: 38%;
	height: 100vh;
}

.titulo
{
	margin-left: 13%;
	margin-bottom: 17%;
	margin-top: 23%;
}

#user
{
	padding: 3%;
	width: 100%;
	border-radius: 4px;
	border:solid 1px #a0a0a0;
}

#senha
{
	padding: 3%;
	width: 100%;
	border-radius: 4px;
	border:solid 1px #a0a0a0;
}
.pad
{
	margin-left: 13%;
	margin-right: 13%;
}

.pad1
{
	margin-top:10%;
	margin-bottom: 7%;
}

.button
{
	padding :3.5%;
	border-radius: 5px;	
	border:solid 2px #39cc6c;
	background-color: #39cc6c;
}

.button:hover
{
	padding :3.5%;
	border:solid 2px green;
	border-radius: 5px;	
	background-color: black;
	cursor: pointer;

}

.button span
{
	color : white;
}

.linha 
{	
	margin-top:15%;
	border-top: solid 2px #a0a0a0;
}

.buttonc
{
	padding :3.5%;
	border-radius: 5px;	
	background-color: white;
	border:solid 1px #39cc6c;
}

.buttonc:hover
{
	padding :3.3%;
	border:solid 2px green;
	border-radius: 5px;	
	background-color: black;
	cursor: pointer;
}
#cadastro
{
	color : #39cc6c;

}
#bold
{
	font-weight: bold;
}

@media(max-width:990px)
{
	.log
	{
		background-color: white;
		position: absolute;
		right:0; 
		width: 100%;
		height: 100vh;
	}
}

@media(max-height:500px) and (max-width:900px)
{

	h1
	{
		font-size: 30px;
	}	

	p
	{
		font-size: 15px;
		margin-top: 1%;
		margin-bottom: 1%;
	}
	span
	{
		font-size: 15px;
	}
	.log
	{
		background-color: white;
		position: absolute;
		align-items: center; 
		left: 15%;
		width: 70%;
		height: 100vh;
	}
	.titulo
	{
		margin-left: 13%;
		margin-bottom: 2%;
		margin-top: 3%;
	}

	#user
	{
		padding: 1%;
		width: 70%;
		border-radius: 4px;
		border:solid 1px #a0a0a0;
	}

	#senha
	{
		padding: 1%;
		width: 70%;
		border-radius: 4px;
		border:solid 1px #a0a0a0;
	}
	.pad
	{
		margin-left: 13%;
		margin-right: 13%;
	}

	.pad1
	{
		margin-top:2%;
		margin-bottom: 1%;
	}
	
	.button
	{
		padding :1%;
		border-radius: 5px;	
		border:solid 2px #39cc6c;
		background-color: #39cc6c;
		width: 70%;
	}

	.button:hover
	{
		padding :1%;
		border:solid 2px green;
		border-radius: 5px;	
		background-color: black;
		cursor: pointer;
		width: 70%;

	}
	
	.button span
	{
		color : white;
	}
	
	.linha 
	{	
		margin-top:3%;
		border-top: solid 2px #a0a0a0;
		width: 70%;
	}
	
	.buttonc
	{
		padding :2%;
		border-radius: 5px;	
		background-color: white;
		border:solid 1px #39cc6c;
		width: 70%;
	}
	
	.buttonc:hover
	{
		padding :2%;
		border:solid 2px green;
		border-radius: 5px;	
		background-color: black;
		cursor: pointer;
		width: 70%;
	}
	#cadastro
	{
		color : #39cc6c;
	
	}
	#bold
	{
		font-weight: bold;
	}
}