*
{
	font-family: 'Amaranth',sans-serif;
	font-weight: normal;
}

.tamanho
{
	width: 100%;
	height: 100vh;
}
.back
{
	display: flex;
	width: 100%;
	height: 100vh;
}
.perf
{
	background-color: white;
	position: absolute;
	top:60vh; 
	width: 100%;
	height: 40vh;
}
.bar
{
	display: flex;
	flex-direction: row;
	position: absolute;
	top:55vh;
	background-color: #303031;
	width: 100%;
	height: 10%;
}
footer
{
	padding-left: 0.3em;
	padding-top: 1.5em;
	position: fixed;
	bottom: 0%;
	background-color: #DEE2E6;
	width: 100%;
	height: 6vh;
	
}



.centro
{
	display: flex;
	justify-content: center;
	margin-top: 1em;
}
.tabela{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	border-collapse: collapse;
	width: 75%;
	height: 0.7%;
	background-color:  #FFFFFF;
	text-align: left;
	margin-top: 1%;


}
.body{}
.head{
	background-color:  #DEE2E6;
}

.StatusPendente{
	padding: 7px;
	padding-right: 21px;
	padding-left: 21px;
	color:#FFFFFF;
	border-radius: 10px;
	background-color: blue;
	display: flex;
	justify-content: center;

}
.StatusEnviado{
	padding: 7px;
	padding-right: 21px;
	padding-left: 21px;
	color:#FFFFFF;
	border-radius: 10px;
	background-color: #28a745;
	display: flex;
	justify-content: center;
}
.StatusCancelado{
	padding: 7px;
	padding-right: 21px;
	padding-left: 21px;
	color:#FFFFFF;
	border-radius: 10px;
	background-color:  #E82431;
	display: flex;
	justify-content: center;

}
.See{
	color: #007bff;
}
.Edit{
	color: #FDDF4C;
}
.Del{
	color: #E82431;
}
th,td{
	padding:0.7%;
	border-bottom: solid 3px #DEE2E6;
}
footer span
{
	
	font-size:1em;
}
.nav
{
	width: 100%;
	margin-left:2%;
}
.nav a
{
	padding-left: 3%;
	padding-top: 1%;
}
.nav a
{
	color:  #868686; 
}
#current
{
	color: #DEE2E6;
}
.button:hover
{
	text-decoration: none;
}
#current:hover
{
	color: #DEE2E6;
}
#opcao:hover
{
	color:  #868686; 
}
.titulo p
{
	position: absolute;
	font-size: 70px;
	top: 35%;
	left: 5%;
	color: #FAFAFA;
}
.titulo span
{
	position: absolute;
	left: 5%;
	top: 3%;
	font-size: 28px;
	color: #FAFAFA;
}
#decoracao
{
	position: absolute;
	left: 5%;
	top: 43%;
	font-size: 40px;
	color: #FAFAFA;
}
.topnav
{
	position: absolute;
	right: 5%;
	top: 3%;
	font-size: 18px;
	flex-direction: row;
}
.topnav a
{
	padding-right:15px;
	color:#FAFAFA;
}
#currentt
{
	color: #FDDF4C;
}
.buttont:hover
{
	text-decoration: none;
}
#currentt:hover
{
	color: #FDDF4C;
}
#opcaot:hover
{
	color:  #FAFAFA;

}
.backoff
{
	font-family: sans-serif;
	font-weight: bold;
}